._3AxUE {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background-color: var(--bg-color-main-dark);
  padding: 10px 20px; }

._3iUrw {
  color: var(--color-white);
  font-size: 28px;
  font-weight: bold;
  text-decoration: none; }

._17aDI {
  width: 32px;
  height: 32px;
  cursor: pointer;
  outline: none; }

.HfpnC {
  display: block;
  height: 4px;
  background: var(--color-white);
  margin: 5px 0;
  -webkit-transition: all .15s ease;
  transition: all .15s ease; }

._1nwk0 ._2V-rk {
  -webkit-transform: translate(0, 9px) rotate(45deg);
          transform: translate(0, 9px) rotate(45deg); }

._1nwk0 ._3CPdv {
  opacity: 0; }

._1nwk0 ._1P0zZ {
  -webkit-transform: translate(0, -9px) rotate(-45deg);
          transform: translate(0, -9px) rotate(-45deg); }

._2Zc3P {
  background-color: var(--bg-color-main);
  position: fixed;
  width: 240px;
  height: 100vh;
  overflow-y: auto;
  will-change: transform;
  -webkit-transform: translate(-240px, 0);
          transform: translate(-240px, 0);
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  z-index: 9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .YIjLE {
    -ms-flex: 1 1;
        flex: 1 1; }
  ._1Kz3P {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-box-shadow: 2px 0 6px var(--color-black);
            box-shadow: 2px 0 6px var(--color-black); }
  ._3vlus {
    color: var(--color-white);
    background-color: var(--bg-color-main-dark);
    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: default; }
  ._1e_o3 {
    color: #ccc;
    font-size: 24px;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    cursor: pointer; }
    ._3p3o0 {
      position: relative;
      color: var(--color-white);
      background-color: var(--bg-color-main-light); }
    ._1e_o3:hover {
      color: var(--color-white); }
  ._3kRG1 {
    color: var(--color-danger);
    text-shadow: 1px 1px 0 var(--color-black);
    margin: 15px 0;
    padding: 0 20px 0 30px;
    text-align: right;
    font-weight: bold; }
    ._3kRG1:hover {
      color: var(--color-danger-highlighted); }

@media (min-width: 769px) {
  ._2Zc3P {
    width: 300px;
    -webkit-transform: translate(-300px, 0);
            transform: translate(-300px, 0); }
    ._1Kz3P {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }

._5VFCG {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1;
      flex: 1 1;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 20px 0;
  background-color: #eee; }
  ._3xLqV {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
        flex: 1 1;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; }

@media (min-width: 481px) {
  ._5VFCG {
    padding: 20px; } }

._1BHfS {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  background-color: var(--bg-color-main-dark);
  padding: 10px 20px; }

._2yu9A {
  color: var(--color-white);
  font-weight: bold;
  -ms-flex: 1 1;
      flex: 1 1;
  margin-right: 10px; }

._3BLsl {
  background-image: url(/assets/images/powered-by.svg);
  width: 130px;
  height: 50px;
  background-size: cover; }

@media (min-width: 481px) {
  ._3BLsl {
    float: right; } }

._ZOD4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1;
      flex: 1 1;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  font-size: 1.25rem; }
  ._30v0c {
    margin: 10px; }

@media (min-width: 769px) {
  ._ZOD4 {
    font-size: 1.75rem; } }

@media (min-width: 481px) {
  ._ZOD4 {
    font-size: 1.5rem; }
    ._30v0c {
      margin: 10px 0; } }

._16eii {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative; }

.TtTb_ {
  -webkit-box-shadow: 0 0 4px 0 #999;
          box-shadow: 0 0 4px 0 #999;
  display: -ms-flexbox;
  display: flex; }
  ._3QzCP {
    margin-bottom: 20px;
    text-align: center; }
  ._3dH28 {
    padding: 10px;
    background-color: var(--color-white);
    border: none;
    cursor: pointer;
    margin: 0 1px;
    outline: none;
    -ms-flex: 1 1;
        flex: 1 1;
    font-weight: bold; }
    ._3dH28:hover {
      background-color: #eee; }
    ._3dH28:disabled {
      color: #d0d0d0;
      cursor: not-allowed; }
      ._3dH28:disabled:hover {
        background-color: var(--color-white); }
  ._3ManY {
    color: var(--color-white);
    background-color: var(--bg-color-main); }
    ._3ManY:hover {
      background-color: var(--bg-color-main); }

@media (min-width: 981px) {
  ._3QzCP {
    margin: 0 10px 20px 10px; } }

._2Eutj {
  margin-bottom: 20px; }
  ._3pn9h {
    -webkit-box-shadow: 0 0 4px 0 #999;
            box-shadow: 0 0 4px 0 #999;
    overflow: hidden;
    background-color: var(--color-white); }
  .JJa4z {
    width: 100%; }
  ._3t6rO {
    padding: 0 20px 20px; }

@media (min-width: 481px) {
  .JJa4z {
    float: left;
    width: 50%; }
  ._3t6rO {
    float: left;
    display: inline-block;
    width: 50%; } }

@media (min-width: 981px) {
  ._2Eutj {
    display: inline-block;
    width: 50%;
    vertical-align: top; }
    ._3pn9h {
      margin: 0 10px; } }

._1LpmI {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1;
      flex: 1 1;
  -ms-flex-direction: column;
      flex-direction: column; }

._2P0bW {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 20px 20px 20px; }
  ._3k_KB {
    position: relative;
    -ms-flex: 1 1;
        flex: 1 1; }
  ._4HpCX {
    padding: 10px;
    width: 100%; }
  .kD-T_ {
    color: var(--color-white);
    cursor: pointer;
    font-weight: bold;
    background: #318686;
    border: none;
    outline: none; }
    .kD-T_:active {
      -webkit-box-shadow: inset 1px 1px 6px #555;
              box-shadow: inset 1px 1px 6px #555; }
  ._16zk3 {
    display: block;
    padding: 5px;
    background: #ff7d7d;
    color: var(--color-white);
    position: absolute;
    width: 100%;
    top: 100%; }

@media (min-width: 481px) {
  ._2P0bW {
    margin: 0 0 20px 0; }
    ._3k_KB {
      -ms-flex: initial;
          flex: initial; }
    ._4HpCX {
      width: 360px; } }

._2eqOQ {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1;
      flex: 1 1;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

